@model IEnumerable<CrudEFbyMigration.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Email</td>
                    <td>@emp.Phone</td>
                    <td>@emp.Address</td>
                    <td><img src="~/@emp.Image" width="100" height="100" /> </td>
                    <td><a asp-action="Update" class="btn btn-danger" asp-route-id="@emp.Id">Update</a></td>
                    <td><a asp-action="Delete" class="btn btn-danger" asp-route-id="@emp.Id">Delete</a></td>
                </tr>
            }
        }
        else
        {
            <tr style="text-align:center;">No Record Found........</tr>
        }

    </tbody>
</table>